.field-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 1%;
    width: 100vw;
    height: 100%;
    background-color: beige;
}

.field-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10%;
    margin-top: 5%;
}

.field-item {
    width: calc(50% - 5px);
    width: 500px;
    height: 400px;
    margin-left: 0px;
    margin-top: 45px;
}

.field {
    width: 100%;
    max-width: 800px;
    height: 300px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 20px;
    margin-top: 20px;
}

.field ul li {
    cursor: pointer;
    user-select: none;
    display: flex;
    align-items: center;
    position: absolute;
}

.campeonato {
    background-color: rgb(245, 245, 220);
    border-radius: 35px;
    font-size: 45px;
    font-family: Arial;
    margin-top: 5%;
}

.foot {
    font-size: 55px;
}

.player-position {
    font-size: 85%;
    color: #fff;
    font-weight: bold;
}

.shirt {
    font-size: 30px;
    margin-left: 0%;
}

.name-player {
    background-color: rgba(255, 255, 255, 0.8);
    color: black;
}

.Goleiro {
    color: rgb(235, 252, 0);
    margin-top: 140px;
    margin-left: 10px;
}

.Zagueiro-Direito {
    color: rgb(235, 252, 0);
    margin-top: 240px;
    margin-left: 75px;
}

.Zagueiro-central-direita {
    color: rgb(235, 252, 0);
    margin-top: 175px;
    margin-left: 75px;
}

.Zagueiro-central-esquerda {
    color: rgb(235, 252, 0);
    margin-top: 95px;
    margin-left: 75px;
}

.Zagueiro-esquerdo {
    color: rgb(235, 252, 0);
    margin-top: 30px;
    margin-left: 75px;
}

.Meia-direito {
    color: rgb(235, 252, 0);
    margin-top: 240px;
    margin-left: 180px;
}

.Meia-central-direito {
    color: rgb(235, 252, 0);
    margin-top: 175px;
    margin-left: 180px;
}

.Meia-central-esquerdo {
    color: rgb(235, 252, 0);
    margin-top: 95px;
    margin-left: 180px;
}

.Meia-esquerdo {
    color: rgb(235, 252, 0);
    margin-top: 30px;
    margin-left: 180px;
}

.Atacante-direito {
    color: rgb(235, 252, 0);
    margin-top: 175px;
    margin-left: 300px;
}

.Atacante-esquerdo {
    color: rgb(235, 252, 0);
    margin-top: 95px;
    margin-left: 300px;
}